@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
}

header {
    background: #211440;
}

.logo-header {
    width: 130px;
}

.links {
    display: flex;
    flex-direction: row;
    font-family: inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}

.links li a {
    text-decoration: none;
    color: #ffffff;
}

.logo-principal {
    width: 500;
}

.teste {
    color: #fff;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.teste>strong {
    color: #9b3cff;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero {
    background: linear-gradient(#211440, #0b1120);
}

.login {
    background-color: #412c73;
    border-radius: 50px;
    border: solid #9b3cff 0.5px;
    padding: 6px 12px;
    color: #fff;
    font-family: inter;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 8px;
}

.pessoa-icone {
    width: 18px;
    height: 18px;
}

.hero-btn1 {
    background-color: #9b3cff;
    border-radius: 50px;
    border: solid #9b3cff;
    filter: drop-shadow(0 0 30px #9b3cff);
    width: 260px;
    height: 81px;
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-btn2 {
    background-color: #00000000;
    border-radius: 50px;
    border: solid #9b3cff 2px;
    filter: drop-shadow(0 0 30px #9b3cff);
    width: 259px;
    height: 81px;
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

hr {
    width: 550px;
    border: solid 1px #7720d2;
    margin: 50px 0px;
}

.hero-left,
.header-left,
.footer-left {
    margin-left: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header-right {
    margin-right: 100px;
}

.hero-btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-left p {
    margin: 50px 0px;
}

.hero {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.hero-right {
    margin-right: 100px;
    margin-top: 120px;
}

.carrossel {
    width: 600px;
    height: 600px;
    background-color: #0b1120;
    filter: drop-shadow(0 0 50px #211440);
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.carrossel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #0b1120;
    color: white;
    border: none;
    font-size: 40px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

.prev {
    left: 12px;
}

.next {
    right: 12px;
}

.carrosel-index {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    display: flex;
    align-items: center;
}

.carrosel-index span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.carrosel-index span.active {
    background: linear-gradient(180deg, #7720D2 0%, #2857FF 100%);
    height: 10px;
    width: 10px;
}

.hero-left {
    margin-top: 120px;
}

.eyerbrow {
    font-size: 28px;
    font-family: montserrat;
    font-weight: 400;
    color: white;
    margin: 0;
}

h2 {
    font-family: montserrat;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}

strong {
    color: #9b3cff;
    text-shadow: 0 0 10px #7720D2;
}

.about {
    background-color: #0b1120;
}

p {
    color: #ffffff;
    font-family: montserrat;
    font-size: 24px;
    font-weight: 500;
}

.about-containers {
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(0 0 10px #9B3CFF);
    margin-top: 120px;
}

.about-container {
    height: 290px;
    background-color: #211440;
    width: 290px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-container span {
    background-color: #9B3CFF;
    color: #0b1120;
    font-family: montserrat;
    font-size: 22px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 50px;
    margin-top: 64px;
}

.about {
    height: 100vh;
    width: 100%;
}

.about-content {
    margin: 0 100px;
}

.showcase {
    background: linear-gradient(180deg, #0B1120 0%, #211440 100%);
}

.showcase h2 {
    text-align: center;
}

.eyerbrow-center {
    font-size: 28px;
    font-family: montserrat;
    font-weight: 400;
    color: white;
    text-align: center;
    margin: 0;
}

.team-section {
    background: linear-gradient(180deg, #211440 0%, #0B1120 100%);
}

.profissionais {
    text-align: center;
}

.team-showcase {
    display: flex;
    justify-content: space-between;
}

.card {
    border-radius: 30px;
    border: 1px solid #9B3CFF;
    background: #211440;
    box-shadow: 0 0 20px 0 #9B3CFF;
    width: 290px;
    height: 655px;
}

.participantes {
    border-radius: 30px 30px 0 0;
    border: 1px solid #9B3CFF;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.habilidade-html {
    width: 45px;
    height: 63px;
    aspect-ratio: 5/7;
}

.habilidade-figma {
    width: 44px;
    height: 64px;
    aspect-ratio: 11/16;
}

.habilidade-js {
    width: 64px;
    height: 64px;
    aspect-ratio: 1/1;
}

.habilidade-css {
    width: 45px;
    height: 64px;
    aspect-ratio: 45/64;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-content>p {
    margin: 0%;
}

.card-content>h4 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cta-section {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #0B1120;
}

.cta-section>div>h1 {
    margin: 0%;
    color: #FFF;
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}

.cta-section>div {
    margin-left: 100px;
}

.cta-btn {
    background-color: #9b3cff;
    border-radius: 200px;
    border: solid #9b3cff;
    filter: drop-shadow(0 0 30px #9b3cff);
    width: 409px;
    height: 127px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cta-p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
}

footer {
    background: #211540;
    display: flex;
    justify-content: space-between;
}

.footer-left>img {
    width: 130px;
    height: 37px;
    margin-top: 27px;
}

.footer-left>p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-right {
    margin-right: 100px;
}

/*PARTE DE MOSKITO/
/*------------------------------------------------*/
/*PARTE DE PEDRO*/

.open-app {
    width: 620px;
    height: 280px;
    border-radius: 20px;
    background: linear-gradient(180deg, #0B1120 0%, #2F2052 100%);
    box-shadow: 0 0 10px 0 #9B3CFF;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.open-app,
.app {
    h3 {
        color: #FFF;
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 600;
    }
}

.open-app h4 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}

.open-app p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    margin-top: 40px;
}

.open-app-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.app-img {
    align-self: center;
}

.showcase-content {
    margin: 0 100px;
}

.team-section-content {
    margin: 0 100px;
}

.team-section {
    height: 100vh;
    width: 100%;
}

.app {
    height: 160px;
    width: 620px;
    background-color: #0b1120;
    border-radius: 20px;
    border: 2px solid #5B2E8B;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.apps {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.apps-content {
    display: flex;
    align-items: center;
    gap: 200px;
}

.showcase-apps {
    display: flex;
    justify-content: center;
}

.showcase {
    height: 100vh;
    width: 100%;
}

.h2-margin0 {
    margin-top: 20px
}

footer ul {
    color: white;
}

footer ul li a {
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
footer{
    padding: 30px 0;
}
.p1{
    text-decoration: underline;
}